#title {
    >h1 {
        margin: 0;
        text-align: center;
        font-size: 3rem;
    }
    >hr {
        border-color: var(--text);
    }
}

.view {
    min-height: 100vh;
    padding-block: 5em;
    overflow-x: hidden;

    >* {
        max-width: 100ch;
        padding-inline: 5ch;
        margin: auto;
        margin-block: 5em;
    }
}

.highlight {
    position: relative;
    
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    
    max-width: 120ch;
    padding: 5em;
    border-radius: .5em;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;

        $overhang: -.5em;
        top: $overhang;
        left: $overhang;
        right: $overhang;
        bottom: $overhang;

        transition: all .5s ease-in;
        background: inherit;
        pointer-events: none;
        filter: blur(.5em) brightness(.5);
    }
}

.panel {
    background-color: var(--intense);
    //box-shadow: 0 0 .5em var(--shadow);
    padding-block: 2em;
    border-radius: .5em;
}