body {
    background-color: #050510;
    scroll-behavior: smooth;
    
    &::before {
        content : "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        z-index: -1;
        opacity : 0;
        
        background: url('background.webp') center;
        background-size: cover;
        
        /* Just in case */
        pointer-events: none;
        
        animation: background-fade-in 1s .2s linear forwards;
    }
}
@keyframes background-fade-in {
    to {
        opacity: 0.05;
    }
}

.flex {
    display: flex;
}
.block {
    display: block;
}
.noanim {
    animation: none !important /* hacky fix */;
}

#repos, #contributions, #projects {
    display: flex;
    flex-wrap: wrap;
}

/* fancy glowsticks */
.top-bar {
    height: 4px;
    width: 0;

    animation: bar-blink 2s 1.5s ease-in-out infinite, 
        bar-animate-in 1s .5s ease forwards;
}
.info {
    background-color: #25A;
    box-shadow: 0 0 5px #25A;
}
.ok {
    background-color: #2A2;
    box-shadow: 0 0 5px #2A2;
}
.error {
    background-color: #A22;
    box-shadow: 0 0 5px #A22;
}
@keyframes bar-blink {
    50% {
        filter: brightness(150%);
    }
}
@keyframes bar-animate-in {
    100% {
        width: 100%;
    }
}

/* buttons */
button {
    padding: 5px;

    font-family: Helvetica, Arial;
    color: white;
    text-shadow: 0 0 1px white;
    font-size: 15px;
    font-weight: 400;

    border: 2px solid;

    transition: background-color .2s ease,
        box-shadow .2s ease;
}
.button-wrapper {
    margin-left: 20px;
    padding: 5px;

    .red {
        background-color: #A22;
        box-shadow: #A22;
        border-color: #B22;
    
        &:hover {
            background-color: #C22;
            box-shadow: #C22;
        }
    }
    .green {
        background-color: #292;
        box-shadow: #292;
        border-color: #2A2;
    
        &:hover {
            background-color: #2B2;
            box-shadow: #2B2;
        }
    }
}

@media (max-width: 250px) {
    body::before {
        font-family: monospace;
        text-shadow: 0px 0px 1px white;
        color: white;
        font-weight: 700;
        font-size: 15px;
        word-wrap: break-word;

        opacity: 1;
        background: none;
        animation: none;
        
        content: 'This width ain\'t cutting it';
    }
    body * {
        display: none;
    }
}

/* a div which hides the white flash that occurs when before loading css */
.loading-cover {
    animation: cover-go-away .5s forwards;
    pointer-events: none;
}
@keyframes cover-go-away {
    to {
        opacity: 0;
    }
}

div.heart-blink {
    animation: heart-blink-anim 2s infinite steps(2);
    
    color: #A00;
    text-shadow: 0 0 3px #A00;

    width: 2ch;
    margin-left: 1ch;
}
@keyframes heart-blink-anim {
    from {
        color: #F00;
        text-shadow: 0 0 3px #F00;
    }
}