/* popup boxes */
.popup-wrapper {
    margin: auto;
    margin-top: 15vh;
    width: max-content;
    height: max-content;

    background-color: #112A;
    box-shadow: 0px 0px 5px #151530A0;

    transition: background-color .2s ease, 
        box-shadow .2s ease;
    animation: popup-animate-in 1s ease;
}
.popup-wrapper:hover {
    background-color: #151530A0;
    box-shadow: 0px 0px 5px #224A;
}
@keyframes popup-animate-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
}

.popup-content {
    border: 2px #151530A0 solid;
    border-top: none;

    padding: 20px;
}
.popup-content h1 {
    margin-top: 0;
    padding: 10px;

    font-family: monospace;
    color: white;
    text-shadow: 0 0 1px white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.popup-content p {
    padding: 5px;
    margin-left: 20px;

    font-family: monospace;
    color: white;
    text-shadow: 0 0 1px white;
    font-size: 15px;
    font-weight: 400;
}
.popup-content a {
    padding: 5px;
    margin-left: 20px;

    font-family: monospace;
    color: #25AA;
    text-shadow: 0 0 1px #25AA;
    font-size: 15px;
    font-weight: 400;

    transition: margin-left .5s ease,
        color .5s ease;
}
.popup-content a:hover {
    margin-left: 25px;

    color: #25CA;
    text-shadow: 0 0 1px #25CA;
}

/* reactive CSS */
@media (max-width: 1000px) {
    .popup-wrapper {
        width: 75vw;
        height: max-content;
    }
}
@media (max-width: 600px) {
    .popup-content h1 {
        padding: 5px;
        font-size: 20px;
    }
    .popup-content p {
        padding: 5px;
        margin-left: 10px;
        font-size: 14px;
    }
    .popup-content a {
        margin-left: 10px;
        font-size: 12px;
    }
}
@media (max-height: 600px) {
    .popup-wrapper {
        margin-top: 5vh;
    }
}