.navmenu {   
    position: sticky;
    left: 0px;
    top: 10px;
    
    width: 300px;
    height: max-content;
    padding: 10px;
    
    display: grid;

    a {
        min-height: 50px;
        min-width: max-content;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 15px;
        margin-top: 10px;
        
        background-color: #112A;
        box-shadow: 0 0 5px #151530A0;
        color: white;
        opacity: 0;
        
        font-family: Helvetica, Arial;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        text-shadow: 0 0 2px white;
        text-decoration: none;
    
        overflow: hidden;
    
        border: none;
        border-radius: 0px;
        border-left: 4px solid #25AA;

        animation:
            menu-element-animate-in 1s cubic-bezier(0.1, 0.75, 0.75, 1) forwards, 
            menu-element-flash 2s infinite;
    
        transition: background .2s ease,
            box-shadow .2s ease,
            padding .2s ease;
        
        &:hover {
            background-color: #224A;
            box-shadow: 0 0 5px #224A;
        }

        &:active {   
            padding-left: 15px;
            padding-right: 5px;
            
            background: linear-gradient(
                90deg,
                #25A5, 
                transparent
            );
            
            background-color: #336A;
            box-shadow: 0 0 5px #448A;
            border-left-color: #25CA;
        }
    }
}

@keyframes menu-element-animate-in {
    from {
        transform: translateY(50vh);
    }
    to {
        opacity: 1;
    }
}
@keyframes menu-element-flash {
    0% {
        filter: brightness(1);
    }
    25% {
        filter: brightness(1.25);
    }
    100% {
        filter: brightness(1);
    }
}

@media (max-width: 1250px) {
    .navmenu {
        display: none;
    }
}