body {
    margin: 0;
    background-image: url('/images/clippy.webp');
    background-color: white;
    background-repeat: no-repeat;

    background-size: 50vw;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media (max-width: 300px) {
        &::before {
            opacity: 1;
            background: none;
            animation: none;
            
            content: 'Clippy would like to help you, but the screen is too small';
        }
        & * {
            display: none;
        }
        background: none;
    }

    #button {
        @mixin button {
            position: fixed;
            top: 12.75vw;
            
            padding: .1em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            font-size: 1.3vw;

            border: rgba(128, 128, 128, 0.432) clamp(0px, .3vw, 4px) solid;
            border-radius: 5px;

            color: black;
            text-decoration: none;
        }
        
        &-yes {
            left: 2.5vw;

            @include button
        }
        
        &-no {
            left: 16.4vw;

            @include button
        }
    }

    @media (max-width: 800px) {
        background-size: 100vw;

        #button {
            &-no, &-yes {
                top: 25.5vw;
                font-size: 2.6vw;
                border-width: clamp(0px, .6vw, 4px);
            }
            &-no {
                left: 5vw;
            }
            &-yes {
                left: 31.4vw;
            }
        }
    }
}