:root {
    --hackertype-bg: #10291050;
    --hackertype-bg-lighter: #1b321b50;

    --hackertype-text: #20cf20;
    --hackertype-shadow: #168d16;

    --hackertype-border: #30d030;

    --red-text: #FF0000;
    --red-text-shadow: #b10000;
}

@mixin double-text($color) {
    text-shadow: .05em .05em 0 $color;
}

#section-credits {
    &::before {
        content : "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        z-index: -1;
        
        opacity: .5;
        background: url('/images/matrix.gif') center;
        filter: blur(.5vw);
        background-size: cover;
        
        /* Just in case */
        pointer-events: none;
    }
    
    color: var(--hackertype-text);
    @include double-text(var(--hackertype-shadow));
    
    padding: 15em;
    
    &-content {
        padding: 2.5em;
        padding-left: 5em;
        padding-right: 5em;

        border-top: .25em solid transparent;
        
        a {
            text-decoration: underline;
            color: var(--hackertype-text);
        }

        hr {
            border-color: var(--hackertype-shadow);
        }

        #author {
            display: inline-flex;
            white-space: nowrap;

            font-size: clamp(.5rem, calc(1.9vw), 1rem);
            
            #blinking-heart {
                margin-left: 1ex;
                margin-right: 1ex;

                animation: heart-blink 1s step-end infinite alternate-reverse;

                color: var(--red-text);
                @include double-text(var(--red-text-shadow));

                @keyframes heart-blink {
                    0% {
                        filter: brightness(1);
                    }
                    50% {
                        filter: brightness(.5);
                    }
                }
            }
            
            a {
                margin-left: 1ch;
                margin-right: 1ch;
            }
            
            border-right: var(--hackertype-text) 1ex solid;
            animation: cursor-blink 1s step-end infinite;
            
            @keyframes cursor-blink {
                50% {
                    border-right-color: transparent;
                }
            }
        }

        animation: blink-bg 50ms step-end infinite alternate-reverse,
            blink-borders 1s step-end infinite;

        @keyframes blink-bg {
            0% {
                background-color: var(--hackertype-bg);
            }
            50% {
                background-color: var(--hackertype-bg-lighter);
            }
        }

        @keyframes blink-borders {
            50% {
                border-top-color: var(--hackertype-border);
            }
        }
    }

    @media (max-width: 75em) {
        padding: 2em;
        padding-bottom: 15em;
    }
}