:root {
    --logo-bg: #202020;
    --logo-shine: #FFFFAA;
    
    --logo-caption-box: transparent;
    --logo-caption-box-glow: #404040;
}

#section-logo {
    padding-bottom: clamp(15em, 20%, 100vh); /* cover the cycling text */
    display: grid;
    place-content: center;

    min-height: 100vh;

    overflow-x: hidden;

    $logo-anim-time: 1.5s;

    #logo {
        position: relative;
        
        place-self: center;
        margin-top: 1em;
        margin-bottom: 1em;
        width: min-content;

        background-image: linear-gradient(90deg, 
            #FF5555,
            #FFFF55,
            #55FF55,
            #55FFFF,
            #5555FF,
            #FF55FF,
            #FF5555
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        text-shadow: 0 0 .25em rgba(255, 255, 255, 0.5);

        animation: rainbow-text 5s linear infinite,
            logo-in $logo-anim-time cubic-bezier(0.175, 0.885, 0.32, 1.2) forwards;

        &:hover {
            animation-duration: 1.5s;
            background-image: linear-gradient(.3turn,
                var(--logo-shine),    
                var(--logo-bg)
            );
        }

        &::before {
            position: absolute;
            pointer-events: none;
            
            top: -.5em;
            left: -.5em;
            right: -.5em;
            bottom: -.5em;
    
            content: '';
            background-image: inherit;
            background-size: inherit;
            filter: blur(5em);
            opacity: .2;
    
            animation: inherit;
        }

        &::after {
            position: absolute;
            pointer-events: none;
            
            top: 7em;
            left: -6em;
            right: -6em;
            height: 2em;
    
            content: '';
            background-image: inherit;
            background-size: inherit;
            animation-duration: inherit;
            transform: perspective(1.5em) rotateX(25deg);
            filter: blur(1em);
    
            animation: inherit;
        }
    }

    #logo-captions {
        background-color: var(--logo-caption-box);

        padding: .5em;
        height: 2em;
        overflow: hidden;
        white-space: nowrap;

        span {
            display: block;
            margin-bottom: 2em;
            
            opacity: 0;
            color: var(--text-dim);
            text-shadow: 0 0 .05em var(--text-dim);
            transition: color .25s ease;
            text-align: center;

            &:hover {
                color: var(--text);
            }

            animation: scroll-captions 16s $logo-anim-time ease-out infinite;

            @keyframes scroll-captions {
                0% {
                    opacity: 0;
                    transform: translateY(-.25em);
                }
                8%, 17% {
                    opacity: 1;
                    transform: translateY(0em);
                }
                25% {
                    opacity: 0;
                    transform: translateY(.25em);
                }
                33% {
                    opacity: 0;
                    transform: translateY(-3.25em);
                }
                41%, 50% {
                    opacity: 1;
                    transform: translateY(-3em);
                }
                58% {
                    opacity: 0;
                    transform: translateY(-2.75em);
                }
                
                66% {
                    opacity: 0;
                    transform: translateY(-6.25em);
                }
                74%, 83% {
                    opacity: 1;
                    transform: translateY(-6em);
                }
                91%, 100% {
                    opacity: 0;
                    transform: translateY(-5.75em);
                }
            }
        }
    }

    #scroll-hint {
        position: fixed;
        
        bottom: -2em;
        width: 100%;
        z-index: 1;
        text-align: center;
        
        color: var(--text-dim);

        animation: scroll-hint-in 2s $logo-anim-time cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    @keyframes scroll-hint-in {
        to {
            bottom: 2em;
        }
    }

    @keyframes rainbow-text {
        to {
            background-position: 200% 0;
        }
    }

    @keyframes logo-in {
        0% {
            transform: scale(.5);
        }
    }

    @media (max-width: 30em) {
        #logo-captions {
            display: none;
        }
    }
}