:root {
    --menu-bg: hsl(200, 100%, 50%);

    --button-bg: #303030A0;
    --button-bg-hover: #404040A0;
}

#menu {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 2.5em;
    
    display: grid;
    place-content: center;
    transition: height 1s ease;
    background-color: var(--menu-bg);
    z-index: 5;
    overflow: hidden;

    &-items {
        display: flex;
        padding: 0;

        a {
            $margin: .3em;
            padding-left: $margin;
            padding-right: $margin;

            font-size: 1.2rem;
            font-weight: 500;

            z-index: 6;

            white-space: nowrap;

            color: var(--text);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    &.hidden {
        height: 0em;
    }

    @media (max-width: 65em) {
        position: fixed;
        max-width: 32em;
        height: 100vh;

        $anim-time: 1s;
        $blur-time: .25s;

        transition: max-width $anim-time ease;

        &.hidden {
            max-width: 0vw;
            height: 100vh;
            transition-delay: $blur-time;

            &::before {
                opacity: 0;
                pointer-events: none;

                transition-delay: 0s;
            }
        }

        &-items {
            display: grid;

            a {
                grid-column: 1;

                $margin: 1em;
                padding-top: $margin;
                padding-bottom: $margin;
            }
        }

        &::before {
            position: fixed;
            left: clamp(16em, 100vw, 32em);
            right: 0;
            top: 0;
            bottom: 0;

            content: '';

            z-index: 4;
            opacity: 1;
            transition: opacity $blur-time $anim-time linear;
            backdrop-filter: blur(.5em);
        }
    }

    @media (max-width: 32em) {
        &.hidden {
            transition-delay: 0s;
        }
        &::before {
            display: none;
        }
    }
}

#menu-button {
    position: fixed;
    left: 0em;
    top: -2.5em;
    padding: .5em;

    z-index: 4;

    transition: top 1s ease;

    background-color: var(--button-bg);
    backdrop-filter: blur(.5em);
    color: var(--text);
    border-radius: 0 0 .5em 0;
    border: none;

    &:hover {
        background-color: var(--button-bg-hover);
    }

    animation: button-in 2s 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes button-in {
    to {
        top: 0em;
    }
}