:root {
    --bg: #101010;
    --bg-lighter: #202020;
    
    --text: #DDDDDD;
    --text-dim: #A0A0A0;
    --text-dark: #202020;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media (max-width: 300px) {
        &::before {
            color: var(--text);
    
            opacity: 1;
            background: none;
            animation: none;
            
            content: 'Hey buddy, that width ... it\'s a bit 🤏 small, don\'t you think?';
        }
        & * {
            display: none;
        }
    }

    &.basicallyhideeverything {
        transition: opacity 1s ease;
        opacity: 0;
        #logo {
            opacity: 1;
        }
    }
}