:root {
    --bg: #101010;
    --bg-lighter: #202020;
    
    --text: #DDDDDD;
    --text-dim: #A0A0A0;
    --text-dark: #202020;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media (max-width: 300px) {
        &::before {
            color: var(--text);
    
            opacity: 1;
            background: none;
            animation: none;
            
            content: 'Hey buddy, that width ... it\'s a bit 🤏 small, don\'t you think?';
        }
        & * {
            display: none !important;
        }
    }

    &.basicallyhideeverything {
        #menu, #menu-button {
            opacity: 0 !important;
        }
        #logo-captions, #scroll-hint {
            opacity: 0 !important;
        }
        #section-about, #section-repos, #section-credits {
            opacity: 0 !important;
        }
    }
}